<h1>100 Best Video Games Ever</h1>

<h3>Here's all 100</h3>
<% @games.each do |game| %>
  <p>
  <%= game.title %>
  <%= game.release_date %>
  <%= game.rating %>
  <%= game.console %>
  </p>
<% end %>


